html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

aside {
    /* float haalt het element uit de natuurlijke volgorde */
    float: left;
    width: 25%;
    background-color: rgb(102, 102, 153);
    
}

article {
    box-sizing: border-box;
    float: right;
    width: 75%;
     background-color: rgb(226,69,16);
     padding: 0 0 0 1.5em;
}
