      <nav>
            <ol>
                <!-- Misschien moet je de href attributen aanpassen! -->
                <li><a href="marsman.php">Marsman</a></li>
                <li><a href="neolithicum.php">Neolithicum Sarthe</a></li>
                <li><a href="register.php">Registreren</a></li>
                <li><a href="jommeke.php">Jommeke albums</a></li>
            </ol>
        </nav>