* {
    box-sizing: border-box;
    font-family: fantasy;
}


body {
    background-color: saddlebrown
}

html, body {
    width: 100%;
    height: 100%;
}

aside {
    /* float haalt het element uit de natuurlijke volgorde */
    float: left;
    width: 15%;
    background-color: grey;
    border: solid 3px;
    border-color: green;
    
}
/*Trasition //werkt niet*/
article section {
    transition: 2s ease-in;
}

article section:target {
    display: block;
}

article section{
    box-sizing: border-box;
    float: right;
    width: 75%;
    background-color: grey;
    margin-right: 7em;
    padding: 0 0.5em 0.5em 0.5em;
    border: solid 3px;
    border-color: green;

}

article #GM{
    height: 500px;
    overflow-y: scroll;

}
/******** Header opmaak ********/
.Banner h1 {
    float:right;
    margin-right: 8%;
    border-bottom-style:double;
    text-align: center;
    width: 75%;
}

.Banner #Clock {
    margin-left: 6%;
    padding-top: 3%;
    font-size: 1.4em;
}

.Banner #Hello-time {
    padding-top: 4%;
    font-size: 1em;
}

/************** opmaak navigatie ***************/
/* type selector om de html ol elementen te selecteren
   binnenin een html navelement */
nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: black
}
/* Horizontale Navigatie van het Header element */

header nav li {
  display: inline-block; /* lijstelementen naast elkaar */
  border-right: solid 0.2em; /* Streepje rechts van elk item*/
  background-color: grey;
  padding-right: 5px;
    font-size: 1em;
}

header nav li:first-child { /*Horizontale navigatie | links van a elementen*/
    border-left: solid 0.2em;
    padding-left: 5px;
}

header nav a:hover{    /* Kleur van de Horizontale llinks als er wordt gezweeft*/
  color: white;
  background-color: dimgrey;
  font-family: Minecraft;
  font-size: 0.7em;
  text-align: center;
  text-shadow: 3px 3px #4C4C4C;
  border-bottom: 4px solid #565656;
  border-right: 2px solid #565656;
  border-left: 2px solid #AAA;
  border-top: 2px solid #AAA;
  box-sizing: border-box;
}

/******** Verticale Navigatie ********/
/*Voeg een lettertype toe*/
@font-face {
  font-family: 'Minecraft';
  src:  url('./minecraftfont/minecraftfont.woff') format('woff')
}

aside li p {
    font-style:italic;
}
/*Hover knoppen opmaak*/
aside nav a:hover{
  color: white;
  background-color: dimgrey;
  font-family: Minecraft;
  text-align: center;
  text-shadow: 3px 3px #4C4C4C;
  border-bottom: 4px solid #565656;
  border-right: 2px solid #565656;
  border-left: 2px solid #AAA;
  border-top: 2px solid #AAA;
  box-sizing: border-box;
  font-size: 15px;
}

aside nav li a:first-child { /*streepje onder de eerste link */
    display: block;
    border-top: solid 0.1em;
}

aside nav li a { /* toon een rand boven elke link in de vertocale navigatie */
    display: block; /* de rand over de hele breedte weergeven */
    padding: 0.2em 0 0.2em 0.4em;
}

aside nav li a:last-child { /*streepje onder de laatste link */
    display: block;
    border-bottom: solid 0.1em;

}

/* navigatie met :target in een single page app */
article section {
    display: none;
}

article section:target {
    display: block;
}

body>span { /*Verbergt de span anchors*/
    display:none;
}

#span1:target ~article #Home,
#span2:target ~article #Poll,
#span3:target ~article #GM {
    display: block;
}

/******** Footer opmaak ********/
.Foot {
    position:fixed;
    clear: both;
    font-family: Minecraft;
    font-size: 0.6em;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #7d3e11;
    color: white;
    text-align: center;
}