* {
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

aside {
    /* float haalt het element uit de natuurlijke volgorde */
    float: left;
    width: 25%;
    background-color: rgb(238,238,224);
}

article {
    box-sizing: border-box;
    float: right;
    width: 75%;
    background-color: #faebd7;
    padding: 0 0 0 1.5em;
}

/************** opmaak navigatie ***************/
/* type selector om de html ol elementen te selecteren
   binnenin een html navelement 
   de volgende regels zijn geldig voor zowel de horizantale
   als de vertikale navigatie*/
nav ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #242424; /* Intellektuelle black */
}

nav a:hover {
    color: inherit;
}

/* hier begint CSS alleen voor horizontale nav
 en die zit in een header element */
header nav ol li {
  display: inline-block; /* lijstelementen naast elkaar */
  border-right: solid 0.05em black;
  padding: 0 0.5em 0 0.5em;
}
header nav ol li:first-child {
  border-left: solid 0.05em black;
}

header nav ol li a:hover {
    background-color: black;
    color: white;
}

/* verticaal menu */
aside nav ol li {
    border-left: solid 1em pink;
    border-top: solid 0.05em gray;
    padding: 0 0 0 0.5em;
}
aside nav ol li:last-child {
     border-bottom: solid 0.05em gray;
}

aside nav ol li a:hover {
    background-color: black;
    color: white;
    display: block;
}