* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

aside {
    /* float haalt het element uit de natuurlijke volgorde */
    float: left;
    width: 25%;
    background-color: rgb(238,238,224);
}

article {
    box-sizing: border-box;
    float: right;
    width: 75%;
    background-color: #faebd7;
    padding: 0 0 0 1.5em;
}

/************** opmaak navigatie ***************/
/* type selector om de html ol elementen te selecteren
   binnenin een html navelement */
nav ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #242424
}
header {
    padding: 0 0.5em 0 0.5em;
}
/* horizontale navigatie */
header nav li:first-child {
    border-left: solid 0.1em;
}

header nav li {
    border-right: solid 0.1em;
    display: inline-block
}

header nav a {
    padding: 0 0.5em 0 0.5em;
}

header nav a:hover {
    background-color: #8C92AC;
}

/* opmaak */
header figure img {
    height: 6em;
}

header figure {
    float: left;
}

header .banner {
    float: right;
}

aside {
    clear: both;
}

/* verticale navigatie */
aside nav ol {
    width: 100% background-color #979AAA;
}

aside nav a:hover {
    background-color: #666699;
    color: #EEEEE0;
}

aside nav ol li {
    display: block;
    border-top: solid 0.1em;
    border-left: solid 0.6em #979AAA;
    padding: 0.2em 0 0.2em 0.4em;
}

aside nav ol li:last-child {
    border-bottom: solid 0.1em;
}

/* navigatie met :target in een single page app */
article section {
    display: none;
}

article section:target {
    display: block;
}

body>span {
    display: none;
}

#span1:target ~article #section1,
#span2:target ~article #section2,
#span3:target ~article #section3,
#span4:target ~article #section4,
#span5:target ~article #section5,
#span6:target ~article #section6,
#span7:target ~article #section7,
#span8:target ~article #section8,
#span9:target ~article #section9,
#span10:target ~article #section10,
#span11:target ~article #section11,
#span12:target ~article #section12{
    display: block;
}

