html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

aside {
    /* float haalt het element uit de natuurlijke volgorde */
    float: left;
    width: 25%;
    background-color: rgb(238,238,224);
}

article {
    box-sizing: border-box;
    float: right;
    width: 75%;
    background-color: #faebd7;
    padding: 0 0 0 1.5em;
}

/************** opmaak navigatie ***************/
/* type selector om de html ol elementen te selecteren
   binnenin een html navelement */
nav ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #242424
}

header nav li:first-child {
    border-left: solid 0.1em;
}

header nav li {
    border-right: solid 0.1em;

}

/*deze onderste doet het niet*/

header nav a {
    padding: 0 0.5em 0 0.5em;
}

header nav a:hover {
    background-color: #8C92AC;

}

aside nav ol {
    width: 100% background-color #979AAA;
}

aside nav a:hover {
    background-color: #666699;
    color: #EEEEE0;
}

aside nav ol li a {
    display: block;
    border-top: solid 0.1em;
}

aside nav ol li a:last-child {
    display: block;
    border-bottom: solid 0.1em;
    border-left: solid 0.6em #979AAA;
    padding: 0.2em 0 0.2em 0.4em;
}

/* navigatie met :target in een single page app */
article section {
    display: none;
}

article section:target {
    display: block;
}

body>span {
    display:none;
}

span:target {
    color: red;
}

/* opmaak */
header figure img {
    height: 6em;
}

header figure {
    float: left;
}

header h1 {
    float: right;
    margin-right: 2em;
}

aside {
    clear: both;
}